<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PDI - K-NEAREST NEIGHBOR</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="uploadImage.css">
    <link rel="stylesheet" href="body.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="uploadImage.js"></script>
    <script type="text/javascript" src="navbar.js"></script>

</head>

<body>

<header>
    <% include partials/header %>
</header>

<main>

    <div class="container">
        <table style="width:100%">

            <tr style="font-size: 40px;">
                <th style="width:30%">Imagem</th>
                <th style="width:60%">Histograma</th> 
                <th style="width:10%">Definição</th>
            </tr>

        </table>
    </div>

</main>

<footer>

</footer>

</body>

</html>