<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PDI - K-NEAREST NEIGHBOR</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="uploadImage.css">
    <link rel="stylesheet" href="body.css">
    <link rel="stylesheet" href="table.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="uploadImage.js"></script>
    <script type="text/javascript" src="navbar.js"></script>
    <script type="text/javascript" src="knn.js"></script>
    <script type="text/javascript" src="image.js"></script>

</head>

<body>

<header>
    <% include partials/header %>
</header>

<main>
    
    <div class="container">
        <div class="row">   
            <div id="div_label_grande" class="col-xs-12 col-md-4 col-md-offset-1">              
                <h2 id="label_grande">Escolha a imagem:</h2>
            </div>
            
            <div id="div_inputImg" class="col-xs-12 col-md-5    ">  
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div id="input_field" class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input type="file" accept="image/png, image/jpeg, image/gif" onchange="Teste(event)" id="imgInput" name="input-file-preview"/> <!-- rename it -->
                        </div>
                    </span>
                </div><!-- /input-group image-preview [TO HERE]--> 
            </div>

            <div id="div_botaoOK" class="col-xs-12 col-md-3">  
                    <button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i></button>
            </div>

        </div>
    </div>

    <div class="container" id="resultArea">
        <div class="row">
            <div class="col-12 text-center">
                <label id="label_resultado">A imagem corresponde a:</label>
            </div>
        </div>

        <div id="div_resultado" class="row text-center">
            <label id="resultado"></label>
        </div>

        <div class="horzLine"><hr /></div>
    </div>

    <div class="container">
        <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="tr">
                        <div class="td">Imagem</div>
                        <div class="td">Definição</div>
                        <div class="td">Distância</div>
                    </div>
                </div>
                <div class="panel-body" id="panelContent">

                </div>
            </div>
    </div>

</main>

<footer>

</footer>

<script>

    window.onload = preLoad();

    var imgDatabase = [];

    function preLoad(){
        $.getJSON("db.json", function(json) {
            imgDatabase = json.db;
        });   
    }

    var imageObj = new Image();

    function Teste(event) {
        var file    = document.querySelector('input[type=file]').files[0];
        var reader  = new FileReader();

        reader.addEventListener("load", function () {
            console.log(reader);
            imageObj.src = reader.result;
        }, false);

      reader.readAsDataURL(file);        
    }

    imageObj.onload = function()
    {
        var k=3;

        var imgHist = CalcImageHistogram(imageObj);

        //document.getElementById("debug").value = imgHist;

        var answer = DoKnn(k, imgDatabase, imgHist);

        document.getElementById("resultado").innerHTML = answer.text;

        var myNode = document.getElementById("panelContent");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }

        for(var i=0; i<answer.allData.length; i++)
        {
            var newRow = document.createElement('div');
            newRow.className = 'tr';

            var col1 = document.createElement('div');
            var col2 = document.createElement('div');
            var col3 = document.createElement('div');
            col1.className = 'td';
            col2.className = 'td';
            col3.className = 'td';

            var img = document.createElement('img');
            img.src = 'db/' + answer.allData[i].img;
            img.style.width = "100px";
            img.style.height = "100px";

            col1.appendChild(img);
            col2.innerHTML = answer.allData[i].result;
            col3.innerHTML = answer.allData[i].distance;

            newRow.appendChild(col1);
            newRow.appendChild(col2);
            newRow.appendChild(col3);

            document.getElementById('panelContent').appendChild(newRow);
        }
    };


</script>

</body>

</html>
