<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PDI - K-NEAREST NEIGHBOR</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="uploadImage.css">
    <link rel="stylesheet" href="navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="uploadImage.js"></script>
    <script type="text/javascript" src="navbar.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
        <!-- top nav -->
        <nav class="navbar navbar-top hidden-xs">
            <div class="container">
                <!-- left nav top -->
                <ul class="nav navbar-nav pull-left">
                    <li><a href="#"><i class="fa fa-user-circle text-white"></i></a></li>
                    <li><a href="#"><span class="text-white">Feito por: Josnei Luis Olszewski Junior</b></span></a></li>
                </ul>
                <!-- right nav top -->
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#" class="text-white">josnei@alunos.utfpr.edu.br</a></li>
                </ul>
            </div>
            <div class="dividline light-grey"></div>
        </nav>
        <!-- down nav -->
        <nav class="navbar navbar-down">
            <div class="container">
                <div class="flex-container">  
                    <div class="navbar-header flex-item" style="background-color: white">
                        <div class="navbar-brand" href="#">PDI - KNN</div>
                    </div>
                    <ul class="nav navbar-nav flex-item hidden-xs">
                        <li><a href="#">Analisar</a></li> 
                        <li><a href="#">Banco de Imagens</a></li>
                    </ul>
                    <ul class="nav navbar-nav flex-item hidden-xs pull-right">
                        <li><a href="#" class="">Apresentação</a></li> 
                    </ul>
                    <!-- dropdown only moblie -->
                    <div class="dropdown visible-xs pull-right">
                        <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-align-justify"></span> 
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Analisar</a></li>
                            <li><a href="#">Banco de imagens</a></li> 
                        </ul>
                    </div>
                </div>  
            </div>
        </nav>
    </nav> 
    <!--bg img  -->
    <header>
        <div style="background-color: black; width:100%; height: 200px"><div>
    </header>   

    <div class="container">
        <div class="row">   
            <div id="div_label_grande" class="col-xs-12 col-md-2 col-md-offset-1">              
                <h2 id="label_grande">Escolha a sua imagem:</h2>
            </div>
            
            <div class="col-xs-12 col-md-6 inputDiv">  
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                    <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                    <span class="input-group-btn">
                        <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                            <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                        <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span class="image-preview-input-title">Browse</span>
                            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                        </div>
                    </span>
                </div><!-- /input-group image-preview [TO HERE]--> 
            </div>
        </div>
    </div>
</body>

</html>
