body {
    background-color: lightgray;
}

#div_label_grande{
    display: table-cell;
    float: none;
}

#div_inputImg{
    display: table-cell;
    float: none;
}

#div_botaoOK{
    display: table-cell;
    float: none;
}

#label_grande{
    font-family: 'Ubuntu', sans-serif;
    margin-right: 60px;
}

#input_field{
    width: 100%;
    transform: translate(0, 20%);
}

.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;  
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/* BOTÃO CIRCULAR */

.btn-circle {
    margin-left: 70px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}